body {
    display: flex;
    justify-content: center;
}
.clockBody {
        background-color:rgb(106, 167, 167);
        border:rgb(22, 36, 114) 5px solid;
        width:fit-content;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-radius: 15px;
        font-size: 50px;
        margin: 10px;


}
.clock {
    background-color: bisque;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    color: chocolate;
    width: 250px;
    text-align: center;
    border:rgb(22, 36, 114) 2px solid;
    border-radius: 5px;
    margin: 20px;
}
#btn-start, #btn-stop {
    height: 40px;
    width: 100px;
}
.btns {
    margin: 20px;
    width: 250px;
    display: flex;
    justify-content: space-between;

};
